@keyframes imageUp {
    0% {
        clip-path: inset(100% 0 0 0);
        z-index: 2;
    }

    10% {
        clip-path: inset(0 0 0 0);
        z-index: 2;
    }

    50% {
        clip-path: inset(0 0 0 0);
        z-index: 1;
    }

    54% {
        clip-path: inset(100% 0 0 0);
        z-index: 1;
    }

    80% {
        clip-path: inset(100% 0 0 0);
        z-index: 1;
    }

    100% {
        clip-path: inset(100% 0 0 0);
        z-index: 2;
    }
}

.mask {
    clip-path: inset(100% 0 0 0);
    animation: imageUp 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite forwards;
    animation-delay: var(--delay);
}



@keyframes wordsUp {
    0% {
        transform: translateY(100%);
    }

    8% {
        transform: translateY(0%);
    }

    32% {
        transform: translateY(0%);
    }

    40% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* Cada palabra con delay distinto */

/* Las palabras se mueven dentro del contenedor */
.word {
    transform: translateY(100%);
    animation: wordsUp 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
    animation-delay: var(--delay);
}


@keyframes opacityBg {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    38% {
        opacity: 1;
    }

    44% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }
}

@keyframes scaleImg {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.img-bg {
    opacity: 0;
    animation: opacityBg 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite, scaleImg 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;

    animation-delay: var(--delay);
}


@keyframes scrollCarousel {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.loop-group {
    animation: scrollCarousel 20s linear infinite;
}

.carousel::-webkit-scrollbar {
    display: none;
}


@keyframes skillRight {
    0% {
        transform: translateX(100%);
        opacity: 0
    }

    60% {
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        transform: translateX(0%);
        opacity: 1
    }
}

@keyframes skillLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }

    80% {
        transform: translateX(-100%);
        opacity: 0
    }

    100% {
        transform: translateX(0%);
        opacity: 1
    }
}


.skill:nth-child(odd) {
    animation: skillRight auto linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 60%;
}

.skill:nth-child(even) {
    animation: skillLeft auto linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 60%;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#about {
    animation: fadeIn auto linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 60%;
}

@keyframes showFooter {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

#footer {
    animation: showFooter auto linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}