@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  /* 
  outline: 1px solid pink;
  */
  text-wrap: pretty;
} 

body {
  background-color: rgb(25, 25, 25);
}


body {
  overflow-x: hidden;
}
