@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "NeueHaasGrotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NHaasGroteskTXPro-55Rg.otf") format("opentype");
}

@font-face {
  font-family: "NeueHaasGrotesk";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NHaasGroteskTXPro-65Md.otf") format("opentype");
}

@font-face {
  font-family: "ZTOtez";
  src: url("/fonts/ZTOtez-ExtLtSemiCondIta.otf") format("opentype");
}


/* || GENERAL || */

* {
  font-family: "NeueHaasGrotesk";
   /* border: 1px solid pink; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

strong {
  font-family: "ZTOtez", sans-serif;
}

/* || END GENERAL || */


/* || PROJECTS || */

.projectAlt {
  font-family: "NeueHaasGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.projectAlt.default {
  opacity: .2;
}

.project {
  transition: all .3s ease-in-out;
}

.pin-bg {
  transition: opacity .3s ease-in-out;
}

/* || END PROJECTS || */

/* || ABOUT || */

.skill {
  @apply text-white text-[5.625rem] shrink-0 w-[fit-content] leading-[100%] tracking-tight
}

.skill:nth-child(1) {
 @apply pl-[5vw]
}
.skill:nth-child(2) {
 @apply pl-[35vw]
}

.skill:nth-child(4) {
 @apply mt-[100px] pl-[50vw]
}
.skill:nth-child(5) {
 @apply pl-[60vw]
}

/* || END ABOUT || */