@font-face {
  font-family: "NeueHaasGrotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NHaasGroteskTXPro-55Rg.otf") format("opentype");
}

@font-face {
  font-family: "NeueHaasGrotesk";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NHaasGroteskTXPro-65Md.otf") format("opentype");
}

@font-face {
  font-family: "ZTOtez";
  src: url("/fonts/ZTOtez-ExtLtSemiCondIta.otf") format("opentype");
}

* {
  font-family: "NeueHaasGrotesk";
  /*border: 1px solid pink;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: rgb(25, 25, 25);
}

strong {
  font-family: "ZTOtez", sans-serif;
}

img {
  filter: brightness(0.8);
}

@keyframes imageUp {
  0% {
    clip-path: inset(100% 0 0 0);
    z-index: 2;
  }

  10% {
    clip-path: inset(0 0 0 0);
    z-index: 2;
  }

  50% {
    clip-path: inset(0 0 0 0);
    z-index: 1;
  }

  54% {
    clip-path: inset(100% 0 0 0);
    z-index: 1;
  }

  80% {
    clip-path: inset(100% 0 0 0);
    z-index: 1;
  }

  100% {
    clip-path: inset(100% 0 0 0);
    z-index: 2;
  }
}

.mask {
  clip-path: inset(100% 0 0 0);
  animation: imageUp 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite forwards;
  animation-delay: var(--delay);
}



@keyframes wordsUp {
  0% {
    transform: translateY(100%);
  }

  8% {
    transform: translateY(0%);
  }

  32% {
    transform: translateY(0%);
  }

  40% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* Cada palabra con delay distinto */

/* Las palabras se mueven dentro del contenedor */
.word {
  transform: translateY(100%);
  animation: wordsUp 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
  animation-delay: var(--delay);
}


@keyframes opacityBg {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  38% {
    opacity: 1;
  }

  44% {
    opacity: 0;
  }


  100% {
    opacity: 0;
  }
}

@keyframes scaleImg {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.img-bg {
  opacity: 0;
  animation: opacityBg 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite, scaleImg 7.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;

  animation-delay: var(--delay);
}

.projectAlt {
  font-family: "NeueHaasGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.projectAlt.default {
  opacity: .2;
}